.user {
  width: 35rem;
  height: 15rem;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.user-img {
  width: 40%;
  border-right: 1px solid black;
}

.user-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.user-content p {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}

.user-content a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2a4d69;
  font-weight: bold;
}
